---
services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: stadvdb_backend
    restart: unless-stopped
    env_file:
      - ./backend/.env
    environment:
      - PORT=3000
    networks:
      - stadvdb-net

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: stadvdb_frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
    networks:
      - stadvdb-net

networks:
  stadvdb-net:
